.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-flow: column;
}

.menomote-extras {
  margin-top: 2rem;
}

.menomote-extras__link {
  color: #000;
}
